.bx_filter_popup_result{
	position: static !important;
	display: none;
	height: 40px;
	border-radius: 3px;
	background: none;
	color: #3f3f3f;
	font-weight: normal;
	font-size: 13px;
	line-height: 40px;
	padding: 0 10px;
	z-index: 1100;
}
.bx_filter_popup_result a{color: #0073a3}
.bx_filter_popup_result a:hover{text-decoration: none}
.bx_filter_popup_result_close{display: none}
