html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

body {
	line-height:1;
	color:rgb(57,61,69);
	font-family:'Exo 2', sans-serif;
	background:url(images/main_bg.jpg);
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

a,a:hover {
	color:rgb(57,61,69);
	text-decoration:none;
}

input, textarea {
	outline:none;
	border:0;
	font-family:'Exo 2', sans-serif;
}

b,.bold {
	font-weight:700;
}

#slider,.button, .product-slider {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.white:hover {
	color:#FFF;
	border-bottom-color:rgba(255,255,255,0.2);
}

.gray {
	color:rgba(255,255,255,0.5);
	border-bottom-color:rgba(255,255,255,0.4);
}

.gray:hover {
	color:rgba(255,255,255,0.5);
	border-bottom-color:rgba(255,255,255,0.3);
}

.blue {
	color:rgba(57,61,69,1);
	border-bottom-color:rgba(57,61,69,0.4);
}

.blue:hover {
	color:rgba(57,61,69,1);
	border-bottom-color:rgba(65,193,95,0.3);
}

.orange {
	color:rgba(246,149,100,1);
	border-bottom-color:rgba(246,149,100,0.4);
}

.orange:hover {
	color:rgba(246,149,100,1);
	border-bottom-color:rgba(246,149,100,0.3);
}

.green {
	color:rgba(65,193,95,1);
	border-bottom-color:rgba(65,193,95,0.4);
}

.green:hover {
	color:rgba(65,193,95,1);
	border-bottom-color:rgba(65,193,95,0.3);
}

.purple {
	color:rgba(158,101,153,1);
	border-bottom-color:rgba(158,101,153,0.4);
}

.purple:hover {
	color:rgba(158,101,153,1);
	border-bottom-color:rgba(158,101,153,0.3);
}

.underline {
	line-height:1.1;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.dashed {
	border-bottom-style:dashed;
	border-bottom-width:1px;
}

.hide {
	display:none;
}

.no-border {
	border:0!important;
}

.special-border {
	background:url(images/special_border.jpg) bottom repeat-x;
}

header {
	background-color:#393d45;
	border-bottom:2px solid #282b30;
}

header .logo {
	float:left;
	background:url(images/logo.png) no-repeat center left;
	padding-left:74px;
	font-size:23px;
	font-weight:700;
	line-height:77px;
}

header .text {
	line-height:1;
}

header .description {
	float:left;
	height:35px;
	border-left:1px solid rgba(255,255,255,0.5);
	padding-left:8px;
	font-size:16px;
	color:rgba(255,255,255,0.5);
	line-height:1;
	margin:22px -15px 22px 8px;
}

header .phone {
	float:right;
	background:url(images/phone.png) no-repeat center left;
	padding-left:40px;
	line-height:77px;
	font-size:24px;
	font-weight:700;
	color:#ffffff;
	text-align:center;
	margin:0 40px 0 15px;
}

header .telchik {
	float:right;
	background:url(images/phone.png) no-repeat center left;
	padding-left:40px;
	line-height:77px;
	font-size:24px;
	font-weight:700;
	color:#ffffff;
	text-align:center;
	margin:0 40px 0 15px;
}

header .call-me {
	float:right;
	font-size:17px;
	font-weight:700;
	text-align:right;
	margin:28px 15px;
	cursor:pointer;
}

nav {
	line-height:40px;
	border-bottom:2px solid #ebebec;
	background:#fff;
	font-size:15px;
	font-weight:700;
}

nav ul {
	float:left;
	list-style-type:none;
}

nav ul li {
	float:left;
	margin:0 15px 0 5px;
}

nav ul li a:hover {
	background-image:none;
}

nav .compare {
	float:right;
	background:url(images/compare.jpg) no-repeat 100% 45%;
	padding-right:11px;
	margin-right:15px;
	cursor:pointer;
}

nav .compare .number {
	font-size:18px;
	font-weight:700;
	padding-left:15px;
}

#slider h1 {
	font-size:48px;
	font-weight:200;
	line-height:1.063;
	text-align:center;
	margin:20px 0 30px;
}

.tip {
	display: inline-block;
	width: 24px;
	height: 24px;
	background:url(images/tip.png) no-repeat;
	line-height: 24px;
	cursor: pointer;	
	position: relative;
}

.tip .contents {
	display:none;
	position: absolute;
	z-index:8;
	font-size:15px;
	width:245px;
	left:-128px;
	top:30px;
	line-height:1.4;
	text-align: left;
	border-radius:5px;
	color:#fff;
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
	-webkit-transition:all .5s ease;
	margin:10px auto;
	padding:5px 10px;
}

.tip .contents .title {
	font-size:21px;
	font-weight:700;
}

.contents:before {
	content: "";
    position: absolute;
	border-left:13px solid rgba(113,101,58,0);
	border-right:13px solid rgba(113,101,58,0);
	border-bottom:13px solid #9e6599;
	width:13px;
	-webkit-transition:all .5s ease;
	top:-13px;
	left:34px;
	right:0;
	margin:0 auto;
}

.tip:hover .contents {
	display:block;
}

#slider .row {
	position:relative;
}

.product-nav {
	margin-bottom:0 !important;
}

.carousel {
	overflow:hidden;
	height:335px;
}

.compare .carousel {
	height:auto;
}

#slider .for-arrows ,
.product-slider .for-arrows {
	padding:0;
}

#slider .arrow {
	width: 100%;
	max-width:44px;
	height: 350px;
	margin: auto 0;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
}

.product-slider .arrow {
	width: 100%;
	max-width:25px;
	height: 350px;
	margin: auto 0;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
}

#slider .left {
	margin-left:5px;
	background-image:url(images/arrow_left.png);
	background-position: left;
	float:left;
}

#slider .left:hover {
	background-image:url(images/arrow_left.png);
}

#slider .right {
	margin-right:5px;
	background-image:url(images/arrow_right.png);
	background-position: right;
	float:right;
}

#slider .right:hover {
	background-image:url(images/arrow_right.png);
}

.product-slider .left {
	margin-left:5px;
	background-image:url(images/small_arrow_left.png);
	background-position: left;
	float:right;
}

.product-slider .left:hover {
	background-image:url(images/small_arrow_left.png);
}

.product-slider .right {
	margin-right:5px;
	background-image:url(images/small_arrow_right.png);
	background-position: right;
	float:left;
}

.product-slider .right:hover {
	background-image:url(images/small_arrow_right.png);
}

#slider .door {
	-webkit-transition:all .1s ease;
	padding:5px;
}

#slider .door .image {
	width:161px;
	height:262px;
	background:url(images/sale_door_shadow.png) center top no-repeat;
	background-size:100%;
	padding-top:10px;
	text-align:center;
	overflow:hidden;
	margin:0 auto 10px;
}

#slider .door .image img {
	width:108px;
	height:248px;
	margin:0 auto;
}

#slider .door .description {
	max-width:145px;
	height:53px;
	left:0;
	right:0;
	line-height:1.4;
	border-radius:5px;
	color:#71653a;
	background-color:#393c45;
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
	cursor:pointer;
	-webkit-transition:all .5s ease;
	margin:10px auto;
	padding:3px 5px 0;
}

#slider .door .description.top:before {
	border-left:10px solid rgba(113,101,58,0);
	border-right:10px solid rgba(113,101,58,0);
	border-bottom:10px solid #393c45;
	width:10px;
	-webkit-transition:all .5s ease;
	margin:-13px auto 5px;
}

#slider .door .name {
	text-align:center;
	-moz-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
	-webkit-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
	-ms-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
}

#slider .door .prices .part {
	float:left;
	width:46%;
}

#slider .door .prices .del {
	display:block;
	float:left;
	text-align:center;
	width:8%;
}

#slider .door .new-price {
	text-align:right;
	-moz-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
	-webkit-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
	-ms-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
}

#slider .door .old-price {
	text-align:left;
	-moz-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
	-webkit-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
	-ms-transform:matrix(0.99918358569244,0,0,0.99282010538816,0,0);
}
#slider .door .slash {
	display: inline !important;
	background: url(images/sale_slash.png) 0% 80% no-repeat;
	background-size: contain;
}

.sales-buttons {
	background-color:rgba(57,61,69,.2);
	padding:10px 0 0;
}

.sales-buttons .col-md-2 {
	padding:0 5px;
}

.sales-buttons .button {
	background-color:rgba(57,61,69,.8);
	margin-bottom:10px;
}

.path {
	margin-top:20px;
	padding-bottom:20px;
	border-bottom:2px solid rgba(57,61,69,.2);
}

.path .block {
	text-align:center;
	word-wrap:break-word;
}

.path .block img {
	margin-top:10px;
	max-width:90%;
}

.path .delimeter {
	height:300px;
	background:url(images/path_arrow.png) no-repeat 20% 24%;
	background-size:100%;
	opacity:.3;
}

.path .title {
	font-size:21px;
	font-weight:700;
	color:#393d45;
	line-height:1;
	padding-bottom:20px;
}

.path .desc {
	font-size:15px;
	color:#393d45;
	line-height:1.4;
	padding-bottom:10px;
}

.path .button {
	margin-top:15px;
}

.mark {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -120px;
	width: 133px;
	height: 48px;
	-webkit-transition:all .5s ease;
}

.mbonus {
	background:url(images/mark_bonus.png) left top no-repeat;
}

.maction {
	background:url(images/mark_action.png) left top no-repeat;
}

.msale {
	background:url(images/mark_sale.png) left top no-repeat;
}

.mnew {
	background:url(images/mark_new.png) left top no-repeat;
}

#catalog {
	padding-bottom:30px;
}

#catalog .description {
	font-size:15px;
	font-weight:700;
	line-height:1.4;
	max-width:700px;
	padding-bottom:20px;
}

.compare .inner {
	height: 560px;
}

.compare-bg {
	position: absolute;
	left: 0;
	right: 0;
}
@media (min-width: 100px) {
	.compare-bg {
		top: 747px;
	}
}
@media (min-width: 500px) {
	.compare-bg {
		top: 700px;
	}
}
@media (min-width: 1200px) {
	.compare-bg {
	top: 699px;
}}

.specs {
	margin:5px -15px;
}

.specs .spec {
	font-size: 15px;
	line-height: 26px;
	height: 26px;
	overflow: hidden;
	padding-left:30px;
	word-break: break-all;
}

.spec.double {
	height:78px;
}

.compare-bg .point {
	width:200px;
	text-align:right;
	font-weight: 700;
}

.compare-bg .special {
	padding-left:30px;
	font-size: 15px;
	line-height: 1.25;
}

.compare-bg .special .point {
	cursor:pointer;
	height:58px;
}

.compare .door_spec, #catalog .door {
	margin-bottom:40px;
	position:relative;
	padding:10px 0 0;
}

.compare .door_spec .image, #catalog .door .image {
	background:url(images/catalog_door_shadow.png) center bottom no-repeat;
	text-align:center;
	overflow:hidden;
	padding:15px 20px;
}

.compare .door_spec .image img, #catalog .door .image img {
	width:auto;
	height:345px;
	vertical-align:bottom;
	margin:0 auto;
}

.compare .door_spec .description, #catalog .door .description {
	left:0;
	right:0;
	line-height:1.4;
	border-radius:5px;
	color:#393d45;
	background-color:#FFF;
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
	cursor:pointer;
	-webkit-transition:all .5s ease;
	text-align:center;
	margin:10px auto;
	padding:10px;
}

.compare .door_spec .description.top:before, #catalog .door .description.top:before {
	border-left:10px solid rgba(113,101,58,0);
	border-right:10px solid rgba(113,101,58,0);
	border-bottom:10px solid #FFF;
	width:10px;
	-webkit-transition:all .5s ease;
	margin:-20px auto 10px;
}

.compare .door_spec .vendor, #catalog .door .vendor {
	font-size:15px;
	line-height:1.533;
}

.compare .door_spec .compare_del {
	color:#f69564;
	font-size:15px;
} 
#catalog .door .compare_add {
	color:#41c15f;
	font-size:15px;
}

	.door_spec:hover, 
#catalog .door:hover {
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
	background-color:#FFF;
	border-radius:5px;
}

	.door_spec:hover .description span:hover, 
#catalog .door:hover .description span:hover {
	border-bottom-color:rgba(255,255,255,0.3);
}

.show-more {
	width:170px!important;
	margin:15px auto 0;
}

.centered-button {
	width:250px!important;
	margin:0 auto;
}

.review {
	font-size:15px;
	line-height:1.5;
	padding-top:20px;
}

.review img {
	border-radius:5px;
	margin:0 20px 10px 0;
	float:left;
}

.review .name {
	font-size:18px;
	font-weight:700;
	line-height:1;
}

.review .photos {
	clear:both;
	padding:20px 0 30px;
}

.review .photos img {
	width:100%;
	height:auto;
}

#prefooter {
	margin-top:40px;
	line-height:1.25;
	background-color:rgba(57,61,69,.2);
	padding:45px 0;
}

#prefooter h2 {
	font-size:21px;
	font-weight:700;
	line-height:1.143;
	padding-bottom:25px;
}

#prefooter p {
	font-size:15px;
	padding-bottom:25px;
}

#prefooter img {
	max-width:100%;
}

.phone_icon, .mail_icon, .place_icon, .director_icon {
	padding-left:24px;
	line-height:2;
}
.phone_icon {
	background:url(images/fphone.png) center left no-repeat;
}

.mail_icon {
	background:url(images/fmail.png) center left no-repeat;
}

.place_icon {
	background:url(images/fplace.png) center left no-repeat;
}

.director_icon {
	background:url(images/fdirector.png) center left no-repeat;
}

.director, .call-me, .call-master, .consult {
	cursor: pointer;
}

footer {
	background-color:#393d45;
	padding:20px 0;
}

footer h3 {
	font-size:21px;
	color:#FFF;
	line-height:1.5;
	padding-top:10px;
	font-weight: 700;
	margin-bottom:10px;
}

footer ul {
	font-size:15px;
	color:#FFF;
	padding-bottom:20px;
}

footer ul li {
	line-height:2;
	margin-bottom: 0;
}

h1.title {
	font-size:48px;
	font-weight:200;
	color:#393d45;
	line-height:1;
	text-align:center;
	margin: 45px 0;
	word-wrap: break-word;
}

article {
	line-height: 1.25;
	padding-bottom:50px;
	position: relative;
}

article h1 {
	font-size:48px;
}

article h2 {
	font-size:30px;
}

article h3 {
	font-size:24px;
}

article h4 {
	
}

article h5 {
	
}

article .phone_icon {
	background:url(images/cphone.png) center left no-repeat;
}

article .mail_icon {
	background:url(images/cmail.png) center left no-repeat;
}

article .place_icon {
	background:url(images/cplace.png) center left no-repeat;
}

article img {
	margin:10px 0;
	max-width: 100%;
	cursor: pointer;	
}

article img:hover {
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
}

article .map {
	height:450px;
	overflow: hidden;
	margin:35px 0 0;
	border:1px solid #41c15f;
	border-radius: 5px;
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
}

article .entry {
	max-width: 700px;
}

article p {
	margin-bottom:30px;
}

article .quote {
	border-left:1px solid #9e6599;
	padding-left:15px;
	font-weight: 300;
}

article table {
	width:100%;
	border:1px solid #41c15f;
	background-color: #fff;
	border-radius: 5px;
	border-collapse: separate;
	padding: 20px;
	margin-bottom:20px;
}

article table th {
	font-weight: 600;
}

article table tr {
	line-height: 30px;
}

#product {
	padding-bottom: 0;
}

#product p {
	margin-bottom:20px;
}

.product-slider {
	margin-top:30px;
}

.product-slider .carousel {
	height:450px;
}

.product-slider .big-image {
	background:url(images/catalog_door_shadow.png) center bottom no-repeat;
	background-size: contain;
	text-align:center;
	overflow:hidden;
	padding:15px 20px;
}

.product-slider .big-image img {
	width:auto;
	height:423px;
	vertical-align:bottom;
	margin:0 auto;
}

.product-slider .small-images:before {
	content: "";
    position: absolute;
	border-left:13px solid rgba(113,101,58,0);
	border-right:13px solid rgba(113,101,58,0);
	border-bottom:13px solid #fff;
	width:13px;
	-webkit-transition:all .5s ease;
	top:-13px;
	left:0;
	right:0;
	margin:0 auto;
}
.product-slider .small-images {
	margin:30px 0 15px;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
}

.product-slider .small_image {
	text-align: center;
}

.product-slider .small-images img {
	width: 49px;
	height: 111px;
	margin:15px auto;
	box-shadow:0 1px 15px rgba(0,0,0,0.2);
}

.add_to_compare {
	float:right;
	background:url(images/add_to_compare.png) left no-repeat;
	padding-left:40px;
	cursor:pointer;
}

.price_block {
	margin:20px 0;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.2);
	padding:25px;
}

.price_block .price {
	float:left;
    font-size: 29px;
    font-weight: 700;
    line-height: 1;
    padding:10px 10px 10px 0;
}

.price_block .old_price {
    font-size: 15px;
    float: left;
}

.price_block .slash {
	background: url(images/old_slash.png) no-repeat;
	background-size: cover;
}

.price_block .order-door {
	width:160px;
	float:left;
	margin-right:10px;
	margin-top: 10px;
}

.price_block .call_mer {
	float: right;
	padding: 10px 0 0;
}

.colors {
	margin:10px 0 20px;
}

.colors .col-xs-2 {
	padding: 0 5px;
}
.colors .row {
	margin: 0 -5px;
}

.colors .title {
	font-weight: 700;
	line-height: 2;
}

.colors img {
	max-width: 61px;
	max-height: 61px;
	width: 100%;
	height: auto;
}

.features {
	border-radius: 5px;
	overflow: hidden;
	font-size: 15px;
	margin:10px 0;
}

.features .title {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	line-height: 40px;
	text-align: center;
	color:white;
	background-color: #41c15f;
	padding:5px;
}

.features table {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	padding:5px;
}

.features table tr {
	line-height: 1.5;
}

.features .feature {
	text-align: right;
	font-weight: 700;
	padding-right:5px;
}

.how_order {
	background:url(images/how_to_order.png) left no-repeat;
	padding-left: 35px;
	margin-bottom:20px;
}

.gurantee {
	background:url(images/gurantee.png) left no-repeat;
	padding-left: 35px;
	margin-bottom:20px;
}

.random_review {
	background:url(images/random_review.png) left no-repeat;
	padding-left: 35px;
}

.blue-line {
  border:1px solid rgba(57,61,69,.1);
  height: 1px;
  margin:30px 0 0;
}

.product-info-adds {
	margin-top:30px;
}

footer .text {
	padding-left:0;
}

.special_form, footer form {
	position: relative;
	background-color:#fff;
	border-radius:5px;
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
	text-align:center;
	padding:15px 35px 25px;
}

.before-send {
	opacity:1;
	-webkit-transition:all .5s ease;
}
.after-send {
	display:none;
	-webkit-transition:all .5s ease;
}
.sended .before-send {
	opacity:0.01;
}
.sended .after-send {
	display:block;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:78px;
	margin:auto;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.25;
}

.smallform .title {
	font-size:21px;
	line-height:1.5;
}

.smallform p {
	font-size:15px;
	line-height: 1.25;
}

.smallform input[type=text] {
	margin-top:10px;
}

.smallform input[type=submit] {
	margin-top:10px;
}

.popup {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(255,255,255,.6);
	z-index:10;
}
.popup form {
	width:300px;
	margin:10% auto 0;
	background-color:#fff;
	border-radius:5px;
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
	text-align:center;
	padding:25px 35px 30px;
}
.popup .title {
	font-weight:700;
	font-size: 15px;
	padding-bottom:10px;
	line-height: 1.25;
} 
.popup p {
	font-size: 15px;
	padding-bottom:30px;
}
.popup input, .popup textarea {
  width:85%;
  margin:0 auto;
}
.popup textarea {
	margin-top:10px;
	border:1px solid #9c9ea2;
	border-radius:5px;
	resize:none;
	padding: 10px 5%;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
}

#helper form {
	text-align: left;
}
#helper .title {
	font-size: 21px;	
}
#helper input[type=text], #helper textarea {
	width: 100%;
	text-align: left;
}
#helper input[type=submit] {
	width: 60%;
	margin: 10px 20% 0;
}

#filter {
	margin:30px 0;
	padding:20px;
	background-color:#fff;
	border-radius:5px;
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
}
#filter .categories {
	margin-bottom:20px;
	padding:10px 20px 0;
	border-radius:5px;
	box-shadow:0 1px 10px rgba(0,0,0,0.2);
}
#filter .categories .button {
	margin-bottom:10px;
	padding-left:5px;
	padding-right:5px;
}
#filter input {
	float:left;
	margin-right:20px;
}
#filter .search {
	float:right;
	width:auto;
	text-align: left;
	padding-left:40px !important;
	border:1px solid #d7d8da;
	background: url(images/search.jpg) 10px 10px no-repeat;
	margin-right:0;
}
#filter .adds_search {
	float:right;
	margin:10px 0;
}
.filters .button, .filters span {
	float:left;
	display: inline;
	line-height: 21px;
	padding: 10px;
	width: initial;
	margin:10px 0;
}
.filters span {
	padding:10px 10px 0 0;
}
.filters .purple_rounded {
	border-radius:5px;
	border:2px solid #9e6599;
	color:#9e6599;
	font-weight: 700;
}
.filters .active {
	border:1px solid #9e6599 !important;
	color:#9e6599 !important;
}

.filters .bordered {
	margin-right:10px;
}
.filters .bordered:hover {
	border:1px solid #9e6599;
	color:#9e6599;
}
.filters .disabled {
  opacity:.4;
}
@media (min-width: 100px) {
	.slider {
		clear:both;
		margin:0;
	}
}
@media (min-width: 100px) {
	.slider {
		clear:both;
		margin:0;
	}
}
@media (min-width: 500px) {
	.slider {
		clear:inherit;
		margin: 0 130px 0 175px;
	}
}
.slider {
	padding: 30px 0;
}
.sorting {
	margin-bottom:30px;
	font-weight: 700;
}
.sorting .left {
	float:left;
	padding-top:4px;
	height:50px;
}
.sorting .right {
	
}
.sorting span {
	line-height: 25px;
}
.sorting .expensive {
	display:inline-block;
	margin-left:10px;
	background: url(images/sort_up.png) left center no-repeat;
	padding-left:15px;
	cursor: pointer;
}
.sorting .cheap {
	display:inline-block;
	margin-left:10px;
	background: url(images/sort_down.png) left center no-repeat;
	padding-left:15px;
	cursor: pointer;
}
#price-range {
  width:100%;
  float:left;
}
#priceTo, #priceFrom {
  width: 100px;
}
#priceTo.button {
  float:right;
  margin-right:0;
}
.ui-slider {
	position: relative;
	text-align: left;
	height: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ceb2cc;
	background: #ceb2cc;
	color: #f5f5f5;
}
.ui-slider-horizontal .ui-slider-handle {
	position: absolute;
	top: -19px;
	margin-left: -4px;
	padding: 0;
	border-radius: 15px;
	z-index: 2;
	width: 8px;
	height: 18px;
	background-color: #9e6599;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ui-widget-header {
	background: #9e6599;
	color: #222222;
	font-weight: bold;
	top: -2px;
	bottom: -2px;
	/* height: 100%; */
	position: absolute;
	z-index: 1;
	font-size: 5px;
	display: block;
	border: 0;
	background-position: 0 0;
}

.bordered, input[type=text] {
	border:1px solid #9c9ea2;
	border-radius:5px;
	padding:10px 5%;
	line-height: 21px;
}

.line {
	background-color:#9e6599;
	line-height:56px;
	color:#FFF;
}

.line .left {
	float:left;
}

.line .right {
	width:200px;
	float:right;
	text-align:right;
}

.gray-fill {
	background-color:#b0b1b5;
	color:#fff;
}

.white-fill {
	background-color:#FFF;
	color:#393d45;
}

.blue-fill {
	background-color:#393d45;
	color:#FFF;
}

.gray-fill:hover, .blue-fill:hover,.purple-fill, .green-fill:active, .green-fill:hover {
	background-color:#9e6599;
	color:#FFF;
}

.gray-fill.active, .blue-fill.active,.blue-fill:active,.purple-fill:hover,.green-fill,.green-fill.active,.green-fill.active:hover {
	background-color:#41c15f;
	color:#FFF;
}

.button {
	display:block;
	line-height:21px;
	padding:10px 1%;
	text-align:center;
	width:98%;
	border-radius:5px;
	font-size:15px;
	font-weight:700;
	cursor:pointer;
	-webkit-transition:all .5s ease;
}

.fix-button {
	display: inline-block;
	line-height:21px;
	padding:10px 20px;
	text-align:center;
	border-radius:5px;
	font-size:15px;
	font-weight:700;
	cursor:pointer;
	-webkit-transition:all .5s ease;
}

.inline-button {
	display: inline;
	width: auto;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.show {
	display:block;
}

.grey {
	background-color: rgba(57,61,69,.1);
}

.white,
	.door_spec:hover .compare:hover , 
#catalog .door:hover .compare:hover {
	border-bottom-color:rgba(255,255,255,0.3);
	color:#FFF;
}

	.door_spec .description:before, 
	.door_spec .description:after, 
#slider .door .description:before,
#slider .door .description:after, 
#catalog .door .description:before {
	content:"";
	display:block;
}

#slider .door .description:hover,
	.door_spec:hover .description, 
#catalog .door:hover .description {
	background-color:#9e6599;
}

#slider .door .description:hover:before,
    .door_spec:hover .description.top:before, 
#catalog .door:hover .description.top:before {
	border-bottom:10px solid #9e6599;
}

#slider .door .description:active {
	background-color:#41c15f;
}

#slider .door .description:active:before {
	border-bottom:10px solid #41c15f;
}

	.door_spec .name, 
	.door_spec .price, 
#catalog .door .name, 
#catalog .door .price, 
.number {
	font-size:21px;
	font-weight:700;
}

	.door_spec:hover .description span, 
#catalog .door:hover .description span,
	.door_spec:hover .compare, 
#catalog .door:hover .compare {
	border-bottom-color:rgba(255,255,255,0.5);
	color:#FFF;
}

.review .bottom, .list li {
	padding-bottom:20px;
}